<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Temperatura / Humedad %</p>
                            <h3 class="title">19°/30% <small>Grados celcius / Porcentaje de agua</small></h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i> <a href="#pablo">Monitorear Cosecha</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Temperatura de Cosecha</p>
                            <h3 class="title">19°</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Actualizado las ultimas 24Hrs
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Alerta</p>
                            <h3 class="title">Alerta de humedad</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Monitorear Cosechas
                            </div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Temperatura Minima</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 12%  </span>Se ha mantenido un 12% durante la semana</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Actualizado hace 4 dias
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Humedad Ambiental</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 9% en al semana</span> Humedad en Porcentaje diario.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Actualizado hace 4 dias
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Temperaturas Maxima</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 32%  </span>Ha aumentado un 32% en la semana.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Actualizado hace 4 dias
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
</div>
